# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
local_settings.py

# Sensitive data
*.env
.env
src/google.json
credentials/google.json
